.tag-container {
    display: flex;
    gap: 10px;
}

.tag {
    width: 115px;
    height: 25px;
    border-radius: 10px;
    background-color: #FF6060;
    color: white;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}

