.card {
    position: relative;
    width: var(--card-size-sm);
    height: 255px;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (min-width: 940px) {
    .card {
        width: var(--card-size);
        height: var(--card-size);
    }
}

.card__image {
    background: #FF6060;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.linear-gradiant {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    top: 0;
    left: 0;
    z-index: 1;
}

.title {
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
}

.title > h3 {
    margin: 15px;
}