
.error_page {
    width: 100%;
}

.main-container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: #FF6060;
}

.main-container > img {
    width: 600px;
    margin-top: 170px;
}

.main-container > p:first-of-type {
    font-weight: 500;
    font-size: 36px;
    line-height: 51px;
}

.main-container > p:nth-of-type(2) {
    margin-top: 100px;
}

.main-container .linkError {
    font-size: 18px;
    color: #FF6060;
    text-decoration: underline;
}

.main-container .linkError:hover {
    color: #FF6060;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {
    .main-container {
        margin: 0 50px;
    }

    .main-container > img {
        box-sizing: border-box;
        max-width: 600px;
        width: 100%;
        margin: 50px 100px 0;
    }

    .main-container > p:first-of-type {
        text-align: center;
    }

    .main-container > p:last-of-type {
        margin-top: 40px;
    }
}

@media screen and (max-width: 600px) {

    .main-container {
        justify-content: flex-start;
    }

    .main-container > img {
        margin-top: 130px;
    }

    .main-container > p:first-of-type {
        font-size: 30px;
        margin-top: 11px;
        margin-bottom: 0;
    }

    .main-container > p:last-of-type {
        margin-top: 130px;
    }

    .main-container .linkError {
        font-size: 14px;
    }
}

@media screen and (max-width: 400px) {
    .main-container > img {
        width: 200px;
        height: 100px;
    }
}


@media screen and (max-width: 375px) {
    .main-container {
        height: 65vh;
    }

    .main-container > p:first-of-type {
        width: 260px;
        font-size: 18px;
        text-align: center;
        line-height: 25px;
    }
}