.gallery-container {
    padding: 56px 0 40px 0;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 25px;
}

@media screen and (max-width: 375px) {
    .gallery-container {
        padding: 20px 0 20px;
    }
}