.gallery-container {
    padding: 56px 50px 40px 50px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 25px;
}

@media screen and (max-width: 375px) {
    .gallery-container {
        padding: 20px 0 20px;
    }
}