.main-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    color: #FF6060;
}

.main-header > img {
    width: 210px;
    /* Width mobile device : 145px */
}

.main-header > nav > ul {
    display: flex;
    list-style: none;
}

.link {
    margin-left: 57px;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
    text-transform: uppercase;
}

.link:hover {
    color: #FF6060;
    text-decoration: none;
    cursor: pointer;
}

.link:active {
    text-decoration: underline;
}

