.main-header {
    display: flex;
    justify-content: space-between;
    padding: 40px 100px;
    color: #FF6060;
}

.main-header > img {
    width: 210px;
    /* Width mobile device : 145px */
}

.main-header > nav > ul {
    display: flex;
    list-style: none;
}

.link {
    margin-left: 57px;
    font-size: 24px;
    color: #FF6060;
    text-decoration: none;
}

.link:hover {
    color: #FF6060;
    text-decoration: none;
    cursor: pointer;
}

.link:active {
    text-decoration: underline;
}

@media screen and (max-width: 780px) {
    .main-header {
        padding: 40px 20px;
    }

    .main-header > img {
        width: 145px;
        height: 48px;
        /* Width mobile device : 145px */
    }

    nav {
        display: flex;
        align-items: center;
    }

    nav > ul {
        padding: 0;
        margin: 0;
    }

    .link {
        margin-left: 20px;
        font-size: 15px;
    }
}


@media screen and (max-width: 375px) {
    .main-header {
        max-width: 335px;
        max-height: 47px;
        margin: 20px 20px 0 20px;
        padding: 0;
    }

    .link {
        text-transform: uppercase;
        font-size: 12px;
    }
}
