.homepage {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: calc(var(--card-size-sm) + 40px);
}

.homepage .banner {
    margin-bottom: 0;
}

.homepage .gallery-container {
    padding-top: 20px;
    background-color: #fff;
}


@media screen and (min-width: 500px) {
    .homepage {
        width: 100%;
        max-width: none;
    }

    .homepage .banner {
        margin-bottom: 43px;
    }


    .homepage .gallery-container {
        padding-top: 56px;
        background-color: #F7F7F7;
    }

}

@media screen and (min-width: 940px) {
    .homepage {
        width: 840px;
    }
}

@media screen and (min-width: 1340px) {
    .homepage {
        width: 1240px;
    }
}