.housing-details-container {
    max-width: 1240px;
    margin: 0 auto;
}

.placeholder {
    width: 1240px;
    height: 415px;
    object-fit: cover;
    border-radius: 25px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.housing-details-container h2, p {
    color: #FF6060;
}

.row:last-of-type {
    margin-top: 25px;
    align-items: flex-start;
}

.column-row {
    margin-top: 20px;
    display: flex;
    column-gap: 10px;
}